################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReptileTracker/FileContentIndex
/.vs
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.assets.cache
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.csproj.AssemblyReference.cache
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.GeneratedMSBuildEditorConfig.editorconfig
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.AssemblyInfoInputs.cache
/ReptileTracker/obj/ReptileTracker.csproj.nuget.dgspec.json
/ReptileTracker/obj/ReptileTracker.csproj.nuget.g.props
/ReptileTracker/obj/ReptileTracker.csproj.nuget.g.targets
/ReptileTrackerTests/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/ReptileTrackerTests/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/ReptileTrackerTests/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.UI.dll
/ReptileTrackerTests/bin/Debug/net8.0/CoverletSourceRootsMapping_ReptileTrackerTests
/ReptileTrackerTests/bin/Debug/net8.0/nunit_random_seed.tmp
/ReptileTrackerTests/bin/Debug/net8.0/ReptileTracker.staticwebassets.runtime.json
/ReptileTrackerTests/bin/Debug/net8.0/Serilog.dll
/ReptileTrackerTests/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/ReptileTrackerTests/bin/Debug/net8.0/testhost.exe
/ReptileTrackerTests/obj/Debug/net8.0/ReptileTrackerTests.AssemblyInfoInputs.cache
/ReptileTrackerTests/obj/Debug/net8.0/ReptileTrackerTests.assets.cache
/ReptileTrackerTests/obj/Debug/net8.0/ReptileTrackerTests.csproj.AssemblyReference.cache
/ReptileTrackerTests/obj/Debug/net8.0/ReptileTrackerTests.csproj.BuildWithSkipAnalyzers
/ReptileTrackerTests/obj/Debug/net8.0/ReptileTrackerTests.GeneratedMSBuildEditorConfig.editorconfig
/ReptileTrackerTests/obj/project.nuget.cache
/ReptileTrackerTests/obj/ReptileTrackerTests.csproj.nuget.dgspec.json
/ReptileTrackerTests/obj/ReptileTrackerTests.csproj.nuget.g.props
/ReptileTrackerTests/obj/ReptileTrackerTests.csproj.nuget.g.targets
/ReptileTracker/obj/project.nuget.cache
*.dll
*.exe
/ReptileTracker/bin/Debug/net8.0/ReptileTracker.deps.json
/ReptileTracker/bin/Debug/net8.0/ReptileTracker.dll
/ReptileTracker/bin/Debug/net8.0/ReptileTracker.pdb
/ReptileTracker/obj/Debug/net8.0/ref/ReptileTracker.dll
/ReptileTracker/obj/Debug/net8.0/refint/ReptileTracker.dll
/ReptileTracker/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ReptileTracker.props
/ReptileTracker/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ReptileTracker.props
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.dll
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.genruntimeconfig.cache
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.pdb
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.sourcelink.json
/ReptileTracker/obj/Debug/net8.0/staticwebassets.build.json
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.AssemblyInfo.cs
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.MvcApplicationPartsAssemblyInfo.cs
/ReptileTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/ReptileTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/ReptileTracker/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.csproj.CoreCompileInputs.cache
/ReptileTracker/obj/Debug/net8.0/ReptileTracker.csproj.FileListAbsolute.txt
